<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personnal Website of Chris-tophe">
  <meta name="author" content="Christophe Loyer">

  <title>Site de Chris-tophe</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  

  <!-- Custom styles for this template -->
  <link href="css/new-age.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Site de chris-tophe</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#technos">Technos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projets">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Site Web de Chris-tophe</h1>
            <h2 class="mb-5">Développeur Java</h2>
            <h2 class="mb-5">Développeur Mobile</h2>
            <a href="#technos" class="btn btn-outline btn-xl js-scroll-trigger">En savoir plus</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto text-center">
        	<img src="images/welcome.png" class="img-fluid" alt="">    
        </div>
      </div>
    </div>
  </header>

  <section class="features" id="technos">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Technologies connues:</h2>
        <p class="text-muted">Et le nombre de projets réalisé</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div th:each="language : ${languages}" class="col-lg-4">
                <div class="feature-item">
                	<div style="height: 5rem">
                		<img th:src="${language.image}" class="img-fluid h-100" alt="">
                	</div>
                  <h3 th:text="${language.name}"></h3>
                  <p class="text-muted">Utilisé dans <span th:text="${#lists.size(language.articles)}"}></span> projets.</p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section th:each="article : ${articles}" class="cta bg-info" id="projets">
    <div class="cta-content row col-lg-11">
      <div class="container col-lg-8">
        <h2 th:text="${article.title}"></h2>
        <p th:text="${article.description}" class ="text-white mb-5"></p>
       
	        <ul class="list-inline" >
		        <li class="list-inline-item">
		        	<a  th:if="${article.url != ''}" th:href="${article.url}" target="_blank" class="btn btn-outline">
		        	<em class="icon-social-github"></em>
		        	voir sur gitHub</a>
		        </li>
		        <li class="list-inline-item" th:each="language : ${article.languages}" style=" height: 3rem;">
		          <div class="h-100 text-center">
		          <img th:src="${language.image}"class="img-fluid h-100">
		          </div>
		        </li>
	      	</ul>
      </div>
    
      <div th:id="'carouselControls'+${article.id}" class="carousel slide col-lg-3 row align-items-center" data-ride="carousel">
		  <div class="carousel-inner">
		    <div th:each="photo , iStat : ${article.photos}" th:class="${iStat.first}? 'active carousel-item' : ' carousel-item' ">
		      <img class="d-block w-100" th:src="${photo.url}" th:alt="${photo.legend}">
		    </div>
		  </div>
		  <a class="carousel-control-prev" th:href="'#carouselControls'+${article.id}" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon bg-dark rounded" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" th:href="'#carouselControls'+${article.id}" role="button" data-slide="next">
		    <span class="carousel-control-next-icon bg-dark rounded " aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
 	</div>
    <div class="overlay"></div>
  </section>

  <section class="contact " id="contact">
    <div class="container">
      <h2>Sur les réseaux</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item bg-info">
          <a href="https://www.linkedin.com/in/christophe-l-41b912135/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="list-inline-item bg-dark">
          <a href="https://github.com/chris-tophe/" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; Chris-tophe. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://spring.io/" target="_blank">Powered by Spring</a>
        </li>
        <li class="list-inline-item">
          <a href="http://startbootstrap.com/" target="_blank">Template by Startbootstrap</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>
